* {
    box-sizing: border-box;
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

.box {
    display: none;
    height: 100vh;
    width: 100vw;
}

#first button {
    border: 3px solid black;
    height: 75px;
    width: 300px;
}